<html>
    <body>
        <h1>Hello</h1>
        <p>
            My name is <%= data.name%> and I am <%= data.age%> years old<br>
            <img src="<%= data.profilePic%>"/>    
        </p>
    </body>
</html>